import React from 'react';
import PropTypes from 'prop-types';

const {{> injectPascalCaseName }} = ({props}) => {
  return (
    <div>{props}</div>
  );
};

{{> injectPascalCaseName }}.propTypes = {

};

{{> injectPascalCaseName }}.defaultProps = {

};

export default {{> injectPascalCaseName }};
