import React from 'react';
import PropTypes from 'prop-types';

class {{> injectPascalCaseName }} extends React.Component {
  state = {

  };

  componentDidMount() {

  };

  render() {
    return (
      <div className="{{> injectDashCaseName }}">
        {this.props}
      </div>
    );
  }
};

{{> injectPascalCaseName }}.propTypes = {

};

{{> injectPascalCaseName }}.defaultProps = {

};

export default {{> injectPascalCaseName }};
